In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\phili\OneDrive\Dokumente_One Drive\KIT\Bachelorarbeit\data\t_results.csv')

In [2]:
df

,Unnamed: 0,df=1,df=2,df=3,df=4,df=5,df=6,df=7,df=8,df=9,...,df=21,df=22,df=23,df=24,df=25,df=26,df=27,df=28,df=29,df=30
0,p1_statistic,6.314,2.920,2.354,2.132,2.016,1.944,1.895,1.860,1.834,...,1.721,1.718,1.714,1.711,1.709,1.706,1.704,1.702,1.700,1.698
1,p2_statistic,12.707,4.303,3.183,2.777,2.571,2.447,2.365,2.307,2.263,...,2.080,2.074,2.069,2.064,2.060,2.056,2.052,2.049,2.046,2.043
2,statistic_diff,6.393,1.383,0.829,0.645,0.555,0.503,0.470,0.447,0.429,...,0.359,0.356,0.355,0.353,0.351,0.350,0.348,0.347,0.346,0.345

In [3]:
df2 = df.transpose()

In [4]:
df2

                       0             1               2
Unnamed: 0  p1_statistic  p2_statistic  statistic_diff
df=1               6.314        12.707           6.393
df=2                2.92         4.303           1.383
df=3               2.354         3.183           0.829
df=4               2.132         2.777           0.645
df=5               2.016         2.571           0.555
df=6               1.944         2.447           0.503
df=7               1.895         2.365            0.47
df=8                1.86         2.307           0.447
df=9               1.834         2.263           0.429
df=10              1.813         2.229           0.416
df=11              1.796         2.201           0.405
df=12              1.783         2.179           0.396
df=13              1.771         2.161            0.39
df=14              1.762         2.145           0.383
df=15              1.754         2.132           0.378
df=16              1.746          2.12           0.374
df=17               1.74          2.11            0.37
df=18              1.735         2.101           0.366
df=19               1.73         2.094           0.364
df=20              1.725         2.086           0.361
df=21              1.721          2.08           0.359
df=22              1.718         2.074           0.356
df=23              1.714         2.069           0.355
df=24              1.711         2.064           0.353
df=25              1.709          2.06           0.351
df=26              1.706         2.056            0.35
df=27              1.704         2.052           0.348
df=28              1.702         2.049           0.347
df=29                1.7         2.046           0.346
df=30              1.698         2.043           0.345

In [5]:
df2.to_csv(r'C:\Users\phili\OneDrive\Dokumente_One Drive\KIT\Bachelorarbeit\data\t_transpose.csv')

In [9]:
cf = pd.read_csv(r'C:\Users\phili\OneDrive\Dokumente_One Drive\KIT\Bachelorarbeit\data\chi_results.csv')
cf2 = cf.transpose()
cf2.to_csv(r'C:\Users\phili\OneDrive\Dokumente_One Drive\KIT\Bachelorarbeit\data\chi_transpose.csv')

In [14]:
Ff = pd.read_csv(r'C:\Users\phili\OneDrive\Dokumente_One Drive\KIT\Bachelorarbeit\data\F_results.csv')
F2 = Ff.transpose()
Ff

,Unnamed: 0,t at p1=5%,t at p2=5%,t interval,p1,p2 at p1=5%,delta p at p1=5%,p2,p1 at p2=5%,delta p at p2=5%
0,"1,2",17.6,37.6,20.0,0.0498,0.0996,0.0498,0.0499,0.0249,0.0249
1,"1,3",9.2,16.5,7.3,0.0496,0.0991,0.0496,0.0498,0.0249,0.0249
2,"1,4",6.8,11.3,4.5,0.0492,0.0983,0.0492,0.0495,0.0247,0.0247
3,"1,5",5.7,9.1,3.4,0.0489,0.0979,0.0489,0.0492,0.0246,0.0246
4,"1,6",5.0,7.9,2.9,0.0498,0.0997,0.0498,0.0491,0.0245,0.0245
...,...,...,...,...,...,...,...,...,...,...
865,"30,26",1.0,1.2,0.2,0.0382,0.0764,0.0382,0.0445,0.0222,0.0222
866,"30,27",0.9,1.2,0.3,0.0478,0.0957,0.0478,0.0416,0.0208,0.0208
867,"30,28",0.9,1.2,0.3,0.0457,0.0915,0.0457,0.0390,0.0195,0.0195
868,"30,29",0.9,1.1,0.2,0.0438,0.0875,0.0438,0.0489,0.0244,0.0244
869,"30,30",0.9,1.1,0.2,0.0419,0.0839,0.0419,0.0463,0.0231,0.0231